In [1]:
#Import pandas
import pandas as pd

In [2]:
#Read in 3 csv files
hof = pd.read_csv('NBA HOF Players.csv')
borderline = pd.read_csv('Borderline HOF Players.csv')
roleplayers = pd.read_csv('NBA Role Players.csv')

#Display
display(hof.head())
display(borderline.head())
display(roleplayers.head())

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
0,Jerry West,SG,932,14,27.0,5.8,6.7,22.9,47.4,81.4,...,14,12,5,0,0,1,0,0,1,1
1,Dick Barnett,SG,971,14,15.8,2.9,2.8,14.7,45.6,76.1,...,1,0,0,0,0,2,0,0,0,1
2,Chauncey Billups,PG,1043,17,15.2,2.9,5.4,18.8,41.5,89.4,...,5,3,2,0,0,1,0,0,0,1
3,Vince Carter,SG,1541,22,16.7,4.3,3.1,18.6,43.5,79.8,...,8,2,0,1,0,0,1,0,0,1
4,Michael Cooper,SG,873,12,8.9,3.2,4.2,12.8,46.9,83.3,...,0,0,8,0,0,5,0,1,0,1

,Unnamed: 0,index,Name,Position,Games,Career Length,PPG,RPG,APG,PER,...,All-Stars,All-NBA,All-Defense,All-Rookie Team,MVPs,Chips,ROY,DPOYs,Scoring Champ,HOF
0,0,0,Carmelo Anthony,SF,1260,19,22.5,6.2,2.7,19.5,...,10,6,0,1,0,0,0,0,1,0
1,1,1,Shawn Marion,SF,1163,16,15.2,8.7,1.9,18.8,...,4,2,0,1,0,1,0,0,0,0
2,2,2,Rasheed Wallace,PF,1109,16,14.4,6.7,1.8,17.0,...,4,0,0,1,0,1,0,0,0,0
3,3,3,Dwight Howard,C,1242,18,15.7,11.8,1.3,21.3,...,8,8,5,1,0,1,0,3,0,0
4,4,4,Gilbert Arenas,PG,552,11,20.7,3.9,5.3,19.6,...,3,3,0,0,0,0,0,0,0,0

,Name,Position,Games,Career Length,PPG,RPG,APG,PER,FG%,FT%,...,All-Stars,All-NBA,All-Defense,All-Rookie Team,MVPs,Chips,ROY,DPOYs,Scoring Champ,HOF
0,Luke Walton,SF,564,10,4.7,2.8,2.3,11.7,42.9,71.5,...,0,0,0,0,0,2,0,0,0,0
1,Nick Young,SG,720,12,11.4,2.0,1.0,12.9,41.8,83.6,...,0,0,0,0,0,1,0,0,0,0
2,J.R. Smith,SG,977,16,12.4,3.1,2.1,13.9,41.9,73.3,...,0,0,0,0,0,2,0,0,0,0
3,Shane Battier,SG,977,13,8.6,4.2,1.8,12.6,43.7,74.3,...,0,0,2,1,0,2,0,0,0,0
4,Raja Bell,SG,706,12,9.9,2.8,1.7,10.9,43.4,79.9,...,0,0,2,0,0,0,0,0,0,0

In [4]:
#Subset borderline to fix mistake
borderline = borderline[['Name', 'Position', 'Games', 'Career Length',
       'PPG', 'RPG', 'APG', 'PER', 'FG%', 'FT%', 'Win Shares', 'All-Stars',
       'All-NBA', 'All-Defense', 'All-Rookie Team', 'MVPs', 'Chips', 'ROY',
       'DPOYs', 'Scoring Champ', 'HOF']]
borderline.head()

,Name,Position,Games,Career Length,PPG,RPG,APG,PER,FG%,FT%,...,All-Stars,All-NBA,All-Defense,All-Rookie Team,MVPs,Chips,ROY,DPOYs,Scoring Champ,HOF
0,Carmelo Anthony,SF,1260,19,22.5,6.2,2.7,19.5,44.7,81.4,...,10,6,0,1,0,0,0,0,1,0
1,Shawn Marion,SF,1163,16,15.2,8.7,1.9,18.8,48.4,81.0,...,4,2,0,1,0,1,0,0,0,0
2,Rasheed Wallace,PF,1109,16,14.4,6.7,1.8,17.0,46.7,72.1,...,4,0,0,1,0,1,0,0,0,0
3,Dwight Howard,C,1242,18,15.7,11.8,1.3,21.3,58.7,56.7,...,8,8,5,1,0,1,0,3,0,0
4,Gilbert Arenas,PG,552,11,20.7,3.9,5.3,19.6,42.1,80.3,...,3,3,0,0,0,0,0,0,0,0

In [5]:
#Check shape for each
print(f"Number of rows in HOF dataset: {hof.shape[0]}, number of columns: {hof.shape[1]}")
print(f"Number of rows in borderline dataset: {borderline.shape[0]}, number of columns: {borderline.shape[1]}")
print(f"Number of rows in role players dataset: {roleplayers.shape[0]}, number of columns: {roleplayers.shape[1]}")

Number of rows in HOF dataset: 152, number of columns: 21
Number of rows in borderline dataset: 107, number of columns: 21
Number of rows in role players dataset: 303, number of columns: 21

Great all the datasets have the same number of columns.

In [7]:
#Check total number of Non-HOF Players
print(f"Total number of Non-HOF Players: {borderline.shape[0] + roleplayers.shape[0]}, not consideration potential duplicates")

Total number of Non-HOF Players: 410, not consideration potential duplicates

In [8]:
#Concat Non-hof dataset
non_hof = pd.concat([borderline, roleplayers], ignore_index=True)

#Check head
non_hof.head()

,Name,Position,Games,Career Length,PPG,RPG,APG,PER,FG%,FT%,...,All-Stars,All-NBA,All-Defense,All-Rookie Team,MVPs,Chips,ROY,DPOYs,Scoring Champ,HOF
0,Carmelo Anthony,SF,1260,19,22.5,6.2,2.7,19.5,44.7,81.4,...,10,6,0,1,0,0,0,0,1,0
1,Shawn Marion,SF,1163,16,15.2,8.7,1.9,18.8,48.4,81.0,...,4,2,0,1,0,1,0,0,0,0
2,Rasheed Wallace,PF,1109,16,14.4,6.7,1.8,17.0,46.7,72.1,...,4,0,0,1,0,1,0,0,0,0
3,Dwight Howard,C,1242,18,15.7,11.8,1.3,21.3,58.7,56.7,...,8,8,5,1,0,1,0,3,0,0
4,Gilbert Arenas,PG,552,11,20.7,3.9,5.3,19.6,42.1,80.3,...,3,3,0,0,0,0,0,0,0,0

In [9]:
#Check shape
non_hof.shape

(410, 21)

In [11]:
#Check Non-HOF player columns
non_hof.columns

Index(['Name', 'Position', 'Games', 'Career Length', 'PPG', 'RPG', 'APG',
       'PER', 'FG%', 'FT%', 'Win Shares', 'All-Stars', 'All-NBA',
       'All-Defense', 'All-Rookie Team', 'MVPs', 'Chips', 'ROY', 'DPOYs',
       'Scoring Champ', 'HOF'],
      dtype='object')

In [10]:
#Check HOF player columns
hof.columns

Index(['name', 'position', 'games', 'career_length', 'ppg', 'rpg', 'apg',
       'per', 'fg', 'ft', 'win_shares', 'all_stars', 'all_nba', 'all_defense',
       'rookie_team', 'mvps', 'chips', 'roy', 'dpoys', 'scoring_champ', 'hof'],
      dtype='object')

In [12]:
#Convert all column names to lowercase
non_hof.columns = non_hof.columns.str.lower()

#Remove leading and lagging white spaces just in case they exist
non_hof.columns = non_hof.columns.str.strip()

#Remove % and replace with nothing
non_hof.columns = non_hof.columns.str.replace('%', '')

#Replace dashes with spaces
non_hof.columns = non_hof.columns.str.replace('-', ' ')

#Replace spaces with underscores
non_hof.columns = non_hof.columns.str.replace(' ', '_')

#Rename all_rookie_team to rookie team
non_hof.rename(columns={
    'all_rookie_team': 'rookie_team'
},inplace=True)

#Print out new column names
non_hof.columns

Index(['name', 'position', 'games', 'career_length', 'ppg', 'rpg', 'apg',
       'per', 'fg', 'ft', 'win_shares', 'all_stars', 'all_nba', 'all_defense',
       'rookie_team', 'mvps', 'chips', 'roy', 'dpoys', 'scoring_champ', 'hof'],
      dtype='object')

In [13]:
#Concat both players into a single dataframe
df = pd.concat([hof, non_hof], ignore_index=True)

#View head
df.head()

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
0,Jerry West,SG,932,14,27.0,5.8,6.7,22.9,47.4,81.4,...,14,12,5,0,0,1,0,0,1,1
1,Dick Barnett,SG,971,14,15.8,2.9,2.8,14.7,45.6,76.1,...,1,0,0,0,0,2,0,0,0,1
2,Chauncey Billups,PG,1043,17,15.2,2.9,5.4,18.8,41.5,89.4,...,5,3,2,0,0,1,0,0,0,1
3,Vince Carter,SG,1541,22,16.7,4.3,3.1,18.6,43.5,79.8,...,8,2,0,1,0,0,1,0,0,1
4,Michael Cooper,SG,873,12,8.9,3.2,4.2,12.8,46.9,83.3,...,0,0,8,0,0,5,0,1,0,1

In [14]:
#Check shape
df.shape

(562, 21)

In [18]:
#Convert Carmelo Anthony to HOF since he was recently abducted
df.loc[152, 'hof'] = 1

#Check result
df.loc[[152]]

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
152,Carmelo Anthony,SF,1260,19,22.5,6.2,2.7,19.5,44.7,81.4,...,10,6,0,1,0,0,0,0,1,1

In [21]:
#Check for potential duplicate values
duplicates = df.duplicated()
duplicates.value_counts()

False    560
True       2
Name: count, dtype: int64

In [22]:
#Check duplicate rows
df[duplicates]

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
183,Bill Bridges,PF,926,13,11.9,11.9,2.8,14.5,44.2,69.3,...,3,0,2,0,0,1,0,0,0,0
219,Freddie Lewis,PG,750,11,16.0,3.7,4.0,15.0,43.2,81.7,...,3,0,0,0,0,3,0,0,0,0

In [25]:
#Drop duplicates
df = df.drop_duplicates()

In [26]:
#Save to csv file
df.to_csv('NBA Players.csv', index=False)

In [27]:
#Subset data to seperate HOF players and Non-HOF players
hof_players = df[df['hof'] == 1]
non_hof_players = df[df['hof'] == 0]

#Check result
print(hof_players['hof'].unique())
print(non_hof_players['hof'].unique())

[1]
[0]

In [31]:
#Take a random sample from each dataframe using the sample() method
hof_sample = hof_players.sample(n=50, replace=False, random_state=42, ignore_index=True)
nonhof_sample = non_hof_players.sample(n=50, replace=False, random_state=42, ignore_index=True)

In [32]:
#Concat both dataframes
sds_320_df = pd.concat([hof_sample, nonhof_sample], ignore_index=True)

#Check head and tail
display(sds_320_df.head())
display(sds_320_df.tail())

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
0,Isiah Thomas,PG,979,13,19.2,3.6,9.3,18.1,45.2,75.9,...,12,5,0,1,0,2,0,0,0,1
1,Larry Bird,SF,897,13,24.3,10.0,6.3,23.5,49.6,88.6,...,12,10,3,1,3,3,1,0,0,1
2,Julius Erving,SF,1243,16,24.2,8.5,4.2,23.6,50.6,77.7,...,16,12,1,1,4,3,0,0,0,1
3,Wes Unseld,C,984,13,10.8,14.0,3.9,16.0,50.9,63.3,...,5,1,0,1,1,1,1,0,0,1
4,Ray Allen,SG,1300,18,18.9,4.1,3.4,18.6,45.2,89.4,...,10,2,0,1,0,2,0,0,0,1

,name,position,games,career_length,ppg,rpg,apg,per,fg,ft,...,all_stars,all_nba,all_defense,rookie_team,mvps,chips,roy,dpoys,scoring_champ,hof
95,Earl Watson,PG,878,13,6.4,2.3,4.4,12.1,41.1,70.3,...,0,0,0,0,0,0,0,0,0,0
96,Bill Bridges,PF,926,13,11.9,11.9,2.8,14.5,44.2,69.3,...,3,0,2,0,0,1,0,0,0,0
97,Al Harrington,PF,981,16,13.5,5.6,1.7,14.3,44.4,72.7,...,0,0,0,0,0,0,0,0,0,0
98,Popeye Jones,PF,535,11,7.0,7.4,1.3,13.3,44.7,75.1,...,0,0,0,0,0,0,0,0,0,0
99,Patty Mills,PG,914,15,8.7,1.6,2.2,13.3,42.3,85.6,...,0,0,0,0,0,1,0,0,0,0

In [33]:
#Check value counts to ensure 50/50 split for hof status
sds_320_df['hof'].value_counts()

hof
1    50
0    50
Name: count, dtype: int64

In [34]:
#Check which players were selected
sds_320_df['name'].unique()

array(['Isiah Thomas', 'Larry Bird', 'Julius Erving', 'Wes Unseld',
       'Ray Allen', 'Clyde Lovellette', 'Robert Parish',
       'Dražen Petrović', 'Chris Webber', 'Toni Kukoč', 'Kobe Bryant',
       'Lou Hudson', 'Dwyane Wade', 'Louie Dampier', 'Richie Guerin',
       'John Stockton', 'Neil Johnston', 'Wilt Chamberlain',
       'Karl Malone', 'Walt Bellamy', 'Dominique Wilkins', 'Al Cervi',
       'Grant Hill', 'Scottie Pippen', 'Reggie Miller', 'Maurice Cheeks',
       'Sidney Moncrief', 'Slater Martin', 'Oscar Robertson',
       'George McGinnis', 'Lenny Wilkens', 'Kareem Abdul-Jabbar',
       'David Robinson', 'Carl Braun', 'Jo Jo White', 'Clyde Drexler',
       'Tim Hardaway', 'Jerry Lucas', 'Frank Ramsey', 'Dave DeBusschere',
       'Jack Sikma', 'Gus Johnson', 'Tom Gola', 'Bill Bradley',
       'Michael Cooper', 'Jason Kidd', 'Elvin Hayes', 'George Gervin',
       'Tiny Archibald', 'Paul Pierce', 'Norm Van Lier',
       'Christian Laettner', 'Tyrone Corbin', "Jermaine O'Neal",
       'Eddie Jones', 'Richard Hamilton', 'Aaron McKie', 'Charles Jones',
       'Mickey Johnson', 'Kenny Sears', 'Dorell Wright', 'Mark Aguirre',
       'Cuttino Mobley', 'Royal Ivey', 'Antonio Davis', 'Kyle Singler',
       'Paul Millsap', 'Tom Owens', 'Elton Brand', 'Chuck Hayes',
       'Ron Boone', 'Chris Gatling', 'Vern Fleming', 'David Wesley',
       'Wally Szczerbiak', 'Greg Anthony', 'Byron Scott', 'Mike Bibby',
       'Bo Outlaw', 'Bill Laimbeer', 'Danny Ainge', 'Kiki Vandeweghe',
       'Shawn Marion', 'Samuel Dalembert', 'Steve Mix', 'Nick Van Exel',
       'Warren Jabali', 'Francisco Elson', 'Bruce Bowen', 'Jeff Foster',
       'Ekpe Udoh', 'Christian Eyenga', 'John Starks', 'Mario Chalmers',
       'Mike Mitchell', 'Earl Watson', 'Bill Bridges', 'Al Harrington',
       'Popeye Jones', 'Patty Mills'], dtype=object)

In [35]:
#Subset data to include only the features we want
final_df = sds_320_df[['name', 'ppg', 'hof', 'career_length']]

#View head
final_df.head()

            name   ppg  hof  career_length
0   Isiah Thomas  19.2    1             13
1     Larry Bird  24.3    1             13
2  Julius Erving  24.2    1             16
3     Wes Unseld  10.8    1             13
4      Ray Allen  18.9    1             18

In [36]:
#Set the index to name
final_df.set_index('name', inplace=True)

#View result
final_df.head()

                ppg  hof  career_length
name
Isiah Thomas   19.2    1             13
Larry Bird     24.3    1             13
Julius Erving  24.2    1             16
Wes Unseld     10.8    1             13
Ray Allen      18.9    1             18

In [39]:
#Save to dataframe
final_df.to_csv('nba_analysis_sds320e.csv',index=True)